body {
    background: linear-gradient(#9ceae5, #00828e);
    text-align: center;
    color: #888888;
    text-align: center;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    background-size: 100vw 200vh;
    overflow-x: hidden;
}

.dark {
    background: linear-gradient(#3d3d3d, #292929);
    background-size: 100vw 200vh;
    overflow-x: hidden;
}

ul {
    padding-left: 0 !important;
}

.logo {
    margin-bottom: 10px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    margin-top: 10px;
}

.title {
    color: #666666;
    font-size: 20px;
    font-weight: 900;
    margin-bottom: 20px;
}

nav {
    padding: 10px;
    border-radius: 5px;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.95);
    text-align: center;
    padding: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    overflow: scroll;
}

.category {
    display: flex;
    flex-direction: column;
}

li {
    list-style: none;
}

main {
    flex: 1;
    padding: 10px 30px;
    border-radius: 5px;
    overflow: scroll;
    height: calc(100vh - 220px);
    background: rgba(255, 255, 255, 0.95);
    text-align: center;
    padding: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

main .header {
    background: white;
    box-shadow: 1px 1px 3px #eeeeee;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    display: none;
}

main .profile {
    display: flex;
    align-items: center;
}

#profile-pic {
    width: 50px;
    margin-right: 10px;
}

.content-container {
    margin: 10px 0;
}

.itinerary {
    border: 1px solid #eeeeee;
    background: white;
    box-shadow: 1px 1px 3px #eeeeee;
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    position: relative;
    cursor: pointer;
}

.itinerary:hover {
    background: #eeeeee;
}

.itinerary-content {
    width: 80％;
    margin: 10px;
    margin-bottom: 25px;
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

div#itinerary-event {
    box-sizing: border-box;
    background: #fafafa;
    color: #666666;
    border-radius: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    width: 200px;
    height: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}

button {
    background: #00a1ae !important;
    padding: 5px;
    width: 150px;
    border-radius: 15px;
    outline: none !important;
    color: white !important;
    font-weight: bold;
    border: solid 1px white !important;
    font-size: 14px !important;
    margin-left: 3px !important;
}

button#latest,
button#bookmark {
    width: 120px;
    margin-bottom: 5px !important;
}

button#admin,
button#logoutbutton,
button#loginbutton {
    width: 120px;
}

button:hover {
    background: white !important;
    color: #00a1ae !important;
    border: solid 1px white !important;
    box-shadow: 1px 1px 1px #00828e !important;
    transition: all 0.3s;
}

button a {
    text-decoration: none;
    color: white !important;
}

button a:hover {
    text-decoration: none;
    color: #00a1ae !important;
}

.bookmark {
    width: 30px;
    height: 30px;
    font-size: 20px;
    position: absolute;
    top: 10px;
    right: 10px;
}

.bookmark-icon:hover {
    color: #2cabae;
}

/* //! */
.pager-nav {
    margin: 16px 0;
}
.pager-nav span {
    display: inline-block;
    padding: 4px 8px;
    margin: 1px;
    cursor: pointer;
    font-size: 14px;
    background-color: #ffffff;
    border: 1px solid #e1e1e1;
    border-radius: 3px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
.pager-nav span:hover,
.pager-nav .pg-selected {
    background-color: #f9f9f9;
    border: 1px solid #cccccc;
}

.header-show {
    display: block !important;
}

/* admin button  */
div#admin {
    display: none;
}

#login,
#logout {
    display: none;
}

.display-none {
    display: none !important;
}

.display-flex {
    display: flex !important;
    flex-wrap: wrap;
    justify-content: flex-end;
}

[v-cloak] {
    display: none;
}

/* login overlay */
#overlay-background {
    position: fixed;
    background-color: rgba(131, 131, 131, 0.253);
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    height: 100vh;
    padding: 10px;
    z-index: 100;
}

#login-overlay {
    width: 350px;
    max-width: 100%;
    background: linear-gradient(#9ceae5, #00828e);
    padding: 10px;
    margin: 0 auto;
    position: relative;
    top: 2%;
    left: 0;
    right: 0;
    border-radius: 10px;
    box-shadow: 0px 0px 3px 0px #00828e;
}

#login-overlay h2 {
    color: white;
    font-weight: 900;
}

#login-overlay .title {
    color: #333333;
    font-size: 20px;
    font-weight: 900;
    margin-bottom: 20px;
}

#login-overlay .card {
    background: rgba(255, 255, 255, 0.95);
    text-align: center;
    padding: 15px;
    display: block;
    margin: 0 auto;
}

#login-overlay main {
    height: fit-content;
}

#login-overlay .form div {
    padding: 5px;
}

#login-overlay .register {
    text-align: center;
    margin-top: 20px;
}

#login-overlay input[type='submit' i],
#login-overlay button {
    background: #00a1ae !important;
    padding: 5px;
    width: 200px;
    border-radius: 15px;
    outline: none !important;
    color: white !important;
    font-weight: bold;
    border: solid 1px white !important;
    font-size: 14px !important;
    margin-left: 0 !important;
}

#login-overlay input[type='submit' i]:hover,
#login-overlay button:hover {
    background: white !important;
    color: #00a1ae !important;
    border: solid 1px white !important;
    box-shadow: 1px 1px 1px #00828e !important;
    transition: all 0.3s;
}

#login-overlay input {
    margin-left: 20px;
    border: 0;
    outline: none !important;
    width: 200px;
    margin-left: 0 !important;
    border-bottom: 2px solid #bbbbbb;
}

#login-overlay button {
    background: #e3b600 !important;
}

#login-overlay a {
    text-decoration: none;
    color: #666666;
}

@media (min-height: 700px) {
    #login-overlay {
        top: 15%;
    }
}

@media (min-width: 576px) {
    nav {
        height: calc(100vh - 100px);
    }
    main {
        height: calc(100vh - 100px);
    }
}

/* outer container */
.timeline {
    white-space: nowrap;
    overflow-x: hidden;
    font: normal 16px/1.5 'Helvetica Neue', sans-serif;
    color: #fff;
    overflow: scroll;
}

/* The container */
.timeline ol {
    font-size: 0;
    padding: 100px 0;
    transition: all 1s;
    margin-bottom: 0;
}

/* The line */
.timeline ol li {
    position: relative;
    display: inline-block;
    list-style-type: none;
    width: 100px;
    height: 3px;
    background: #0395a5;
}

.timeline ol li:last-child {
    width: 200px;
}

.timeline ol li:not(:first-child) {
    margin-left: 14px;
}

.timeline ol li:not(:last-child)::after {
    content: '';
    position: absolute;
    top: 50%;
    left: calc(100% + 1px);
    bottom: 0;
    width: 12px;
    height: 12px;
    transform: translateY(-50%);
    border-radius: 50%;
    background: #d9b166;
}

/* The boxes */
.timeline ol li div {
    position: absolute;
    left: calc(100% + 7px);
    min-width: 150px;
    padding: 5px;
    font-size: 1rem;
    white-space: normal;
    color: black;
    background: #04adbf;
}

.timeline ol li div::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 0;
    border-style: solid;
}

.timeline ol li:nth-child(odd) div {
    top: -16px;
    transform: translateY(-100%);
}

.timeline ol li:nth-child(odd) div::before {
    top: 100%;
    border-width: 8px 8px 0 0;
    border-color: #04adbf transparent transparent transparent;
}

.timeline ol li:nth-child(even) div {
    top: calc(100% + 16px);
}

.timeline ol li:nth-child(even) div::before {
    top: -8px;
    border-width: 8px 0 0 8px;
    border-color: transparent transparent transparent#04ADBF;
}

.timeline time {
    display: block;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 8px;
    color: white;
}

/* GENERAL MEDIA QUERIES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media screen and (max-width: 599px) {
    .timeline ol,
    .timeline ol li {
        width: auto;
    }

    .timeline ol {
        padding: 0;
        transform: none !important;
        height: fit-content;
        max-height: 30vh;
    }

    .timeline ol li {
        display: block;
        height: auto;
        background: transparent;
    }

    .timeline ol li:not(:first-child) {
        margin-left: auto;
    }

    .timeline ol li div {
        width: 94%;
        height: auto !important;
        margin: 0 auto 5px;
    }

    .timeline ol li div {
        position: static;
    }

    .timeline ol li:nth-child(odd) div {
        transform: none;
    }

    .timeline ol li:nth-child(odd) div::before,
    .timeline ol li:nth-child(even) div::before {
        left: 50%;
        top: 100%;
        transform: translateX(-50%);
        border: none;
        border-left: 1px solid white;
        height: 25px;
    }

    .timeline ol li:last-child,
    .timeline ol li:nth-last-child(2) div::before,
    .timeline ol li:not(:last-child)::after {
        display: none;
    }
}
