body {
    background: linear-gradient(#9ceae5, #00828e);
    text-align: center;
    margin: 30px;
    color: #888888;
    text-align: center;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    background-size: 100vw 200vh;
    overflow-x: hidden;
}

.dark {
    background: linear-gradient(#3d3d3d, #292929);
    background-size: 100vw 200vh;
    overflow-x: hidden;
}

.title-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

h2 {
    color: white;
    font-weight: 900;
}

span {
    text-transform: none;
}

.title {
    color: #666666;
    font-size: 20px;
    font-weight: 900;
}

.list-group {
    margin: 20px 0;
}

.list-group-item {
    border: 0 !important;
    background: #dddddd;
}

.list-group-item:hover {
    background: #eeeeee;
}

aside {
    padding: 10px;
    border-radius: 5px;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.95);
    text-align: center;
    padding: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    overflow: scroll;
    height: calc(100vh - 150px);
}

.bookmarked {
    background-color: grey;
    height: 50px;
    width: 200px;
}

main {
    flex: 1;
    padding: 10px 30px;
    border-radius: 5px;
    height: calc(100vh - 150px);
    background: rgba(255, 255, 255, 0.95);
    text-align: center;
    padding: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

main .header {
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main .profile {
    display: flex;
    align-items: center;
}

#profile-pic {
    width: 50px;
}

main .content {
    margin: 10px 0;
}

.itinerary {
    width: 90%;
    margin-top: 10px;
    border: 1px solid #eeeeee;
    background: white;
    box-shadow: 1px 1px 3px #eeeeee;
    width: 100%;
    padding: 10px;
}

.itinerary-content {
    background: white;
    box-shadow: 5px 5px rgba(255, 255, 255, 0.2);
    width: 100％;
    margin: 10px;
    margin-bottom: 25px;
    box-sizing: border-box;
    padding: 10px;
}

#itinerary-title {
    font-size: 25px;
}

/* Calendar */
.calender-container {
    height: calc(100vh - 300px);
    width: 100%;
}

/* Popup & Event detail */
.popup-show,
.popup-hidden {
    z-index: 2;
    background-color: white;
    height: 450px;
    width: 500px;
    border: 1px grey solid;
    position: absolute;
    transform: translate(-100%, -30%);
    overflow: scroll;
}

.popup-hidden {
    display: none;
}

.popup-inner {
    margin: 0;
}

/* View Event */
.view-show {
    z-index: 2;
    background-color: white;
    height: 450px;
    width: 350px;
    border: 1px grey solid;
    position: absolute;
    transform: translate(-100%, -30%);
    padding: 15px;
}

.view-hidden {
    display: none;
}

button {
    background: #00a1ae !important;
    padding: 5px;
    width: 150px;
    border-radius: 15px;
    outline: none !important;
    color: white !important;
    font-weight: bold;
    border: 0 !important;
    font-size: 14px !important;
    margin-left: 0 !important;
    margin: 5px;
}

button.send {
    width: 120px;
}

button:hover {
    background: white !important;
    color: #00a1ae !important;
    box-shadow: 1px 1px 1px #00828e !important;
    transition: all 0.3s;
}

button.close-popup:hover,
button.delete-event:hover,
button.edit-event:hover,
button.close:hover {
    background: white !important;
    color: #00a1ae !important;
    box-shadow: 1px 1px 1px #00828e !important;
}

button a,
a {
    text-decoration: none;
    color: white !important;
}

button a:hover {
    text-decoration: none;
    color: #00a1ae !important;
}

button span {
    text-transform: capitalize;
}

.calender-container a {
    color: #888888 !important;
}

.calender-container button {
    color: white !important;
    width: 100px;
}

#popup,
#popup div,
#popup input,
#popup textarea {
    padding: 10px;
    outline: none !important;
}

#popup input,
#popup textarea {
    border: 0;
    border-bottom: solid 1px #888888;
}

/* Edit page */
.edit-hidden {
    display: none;
}

.edit-show {
    z-index: 2;
    background-color: white;
    height: 400px;
    width: 350px;
    border: 1px grey solid;
    position: absolute;
    transform: translate(50%, -100%);
    padding: 15px;
}

/* Calender Horizontal Scroll Bar */
.fc-view-container {
    width: auto;
}

.fc .fc-view-harness-active > .fc-view {
    overflow-x: scroll;
}

/* Hide background color for Today */
.fc-day-today {
    background-color: inherit !important;
}

[v-cloak] {
    display: none;
}

.owner:hover,
.editor span:hover {
    text-decoration: underline 2px;
    cursor: pointer;
}

input {
    margin-left: 20px;
    border: 0;
    outline: none !important;
    width: 100px;
    margin-left: 0 !important;
    border-bottom: 2px solid #bbbbbb;
}

.hidden {
    display: none;
}

/* Only for user without itinerary */
.new {
    font-size: 3em;
}

.new a:hover {
    color: #36cfc5 !important;
}

.bounce {
    animation: bounce 2s ease infinite;
}
@keyframes bounce {
    70% {
        transform: translateY(0%);
    }
    80% {
        transform: translateY(-15%);
    }
    90% {
        transform: translateY(0%);
    }
    95% {
        transform: translateY(-7%);
    }
    97% {
        transform: translateY(0%);
    }
    99% {
        transform: translateY(-3%);
    }
    100% {
        transform: translateY(0);
    }
}

@media screen and (max-width: 992px) {
    /* Set this to show horizontal scroll */
    .fc .fc-scrollgrid-liquid {
        width: 1500px;
    }

    aside {
        margin-bottom: 20px;
        height: auto;
    }
}

@media screen and (max-width: 768px) {
    /* Set this to show horizontal scroll */
    .fc .fc-scrollgrid-liquid {
        width: 1000px;
    }

    #itinerary-title {
        font-size: 20px;
    }

    main {
        height: 100vh;
    }

    .calender-container {
        height: calc(100vh - 150px);
        width: 100%;
    }

    .invite,
    .remove {
        width: 100px;
        margin: 5px auto;
    }

    button span {
        display: none;
    }

    body {
        background-size: 100vw 300vh;
        margin: 15px 10px;
    }
}
