body {
    background: linear-gradient(#9ceae5, #00828e);
    text-align: center;
    margin: 30px;
    color: #888888;
    text-align: center;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    background-size: 100vw 200vh;
    overflow-x: hidden;
}

.logo {
    margin-bottom: 10px;
}

h2 {
    color: white;
    font-weight: 900;
}

.title {
    color: #333333;
    font-size: 20px;
    font-weight: 900;
    margin-bottom: 20px;
}

.card {
    background: rgba(255, 255, 255, 0.95);
    text-align: center;
    padding: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    max-width: 100%;
}

@media (min-height: 850px) {
    .card {
        padding-top: 90px;
        padding-bottom: 90px;
    }
}

.form div {
    padding: 5px;
}

.register {
    text-align: center;
    margin-top: 20px;
}

input[type='submit' i],
button {
    background: #00a1ae !important;
    padding: 5px;
    width: 200px;
    border-radius: 15px;
    outline: none !important;
    color: white !important;
    font-weight: bold;
    border: solid 1px white !important;
    font-size: 14px !important;
    margin-left: 0 !important;
}

input[type='submit' i]:hover,
button:hover {
    background: white !important;
    color: #00a1ae !important;
    border: solid 1px white !important;
    box-shadow: 1px 1px 1px #00828e !important;
    transition: all 0.3s;
}

input {
    margin-left: 20px;
    border: 0;
    outline: none !important;
    width: 200px;
    margin-left: 0 !important;
    border-bottom: 2px solid #bbbbbb;
}

button {
    background: #e3b600 !important;
}

a {
    text-decoration: none;
    color: #666666;
}
