body {
    background: linear-gradient(#9ceae5, #00828e);
    text-align: center;
    margin-top: 30px;
    color: #888888;
    text-align: center;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    background-size: 100vw 200vh;
    overflow-x: hidden;
    overflow-y: scroll;
}

.dark {
    background: linear-gradient(#3d3d3d, #292929);
    background-size: 100vw 200vh;
    overflow-x: hidden;
}

h2 {
    color: white;
    font-weight: 900;
    margin: 0 !important;
}

.header h5 {
    font-weight: 900;
    margin: 0 !important;
}

li {
    list-style: none;
}

li#itinerary-id {
    cursor: pointer;
}

.title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.title-container-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
}

aside {
    padding: 10px;
    border-radius: 5px;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.95);
    text-align: center;
    padding: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    overflow: scroll;
}

aside div {
    padding: 5px;
}

.bookmarked {
    background-color: grey;
    height: 50px;
}

main {
    flex: 1;
    padding: 10px 30px;
    border-radius: 5px;
    overflow: scroll;
    height: calc(100vh - 90px);
    background: rgba(255, 255, 255, 0.95);
    text-align: center;
    padding: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

main .header {
    background: white;
    box-shadow: 1px 1px 3px #eeeeee;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

main .profile {
    display: flex;
    align-items: center;
}

#profile-pic {
    width: 50px;
}

.list-group-item {
    border: 0 !important;
    background: #dddddd;
}

.list-group-item:hover {
    background: #eeeeee;
}

.list-group-item a {
    color: white;
    text-decoration: none !important;
}

main .content {
    margin: 10px 0;
}

.content-container {
    margin: 10px 0;
}

.itinerary {
    border: 1px solid #eeeeee;
    background: white;
    box-shadow: 1px 1px 3px #eeeeee;
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    position: relative;
    cursor: pointer;
}

.itinerary:hover {
    background: #eeeeee;
}

.itinerary-content {
    background: white;
    box-shadow: 5px 5px rgba(255, 255, 255, 0.2);
    width: 80％;
    margin: 10px;
    margin-bottom: 25px;
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

button {
    background: #00a1ae !important;
    padding: 5px;
    width: 120px;
    border-radius: 15px;
    outline: none !important;
    color: white !important;
    font-weight: bold;
    border: solid 1px white !important;
    font-size: 14px !important;
}

#setting {
    margin: 10px 0;
    padding: 0;
}

#setting button {
    max-width: 120px !important;
}

button:hover {
    background: white !important;
    color: #00a1ae !important;
    border: solid 1px white !important;
    box-shadow: 1px 1px 1px #00828e !important;
    transition: all 0.3s;
}

button a {
    text-decoration: none;
    color: white !important;
}

button a:hover {
    text-decoration: none;
    color: #00a1ae !important;
}

.bookmark {
    width: 30px;
    height: 30px;
    font-size: 20px;
    position: absolute;
    top: 10px;
    right: 10px;
}

.bookmark-icon:hover {
    color: #2cabae;
}

ul {
    padding-inline-start: 0px !important;
    margin-bottom: 0;
}

img {
    margin-right: 10px;
    margin-bottom: 10px;
}

div#itinerary-event {
    box-sizing: border-box;
    background: #fafafa;
    color: #666666;
    border-radius: 5px;
    margin-right: 5px;
    width: 200px;
    height: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}

@media (min-width: 576px) {
    aside {
        height: calc(100vh - 90px);
    }
}

[v-cloak] {
    display: none;
}

/* outer container */
.timeline {
    white-space: nowrap;
    overflow-x: hidden;
    font: normal 16px/1.5 'Helvetica Neue', sans-serif;
    color: #fff;
    overflow: scroll;
}

/* The container */
.timeline ol {
    font-size: 0;
    padding: 100px 0;
    transition: all 1s;
    margin-bottom: 0;
}

/* The line */
.timeline ol li {
    position: relative;
    display: inline-block;
    list-style-type: none;
    width: 100px;
    height: 3px;
    background: #0395a5;
}

.timeline ol li:last-child {
    width: 200px;
}

.timeline ol li:not(:first-child) {
    margin-left: 14px;
}

.timeline ol li:not(:last-child)::after {
    content: '';
    position: absolute;
    top: 50%;
    left: calc(100% + 1px);
    bottom: 0;
    width: 12px;
    height: 12px;
    transform: translateY(-50%);
    border-radius: 50%;
    background: #d9b166;
}

/* The boxes */
.timeline ol li div {
    position: absolute;
    left: calc(100% + 7px);
    min-width: 150px;
    padding: 5px;
    font-size: 1rem;
    white-space: normal;
    color: black;
    background: #04adbf;
}

.timeline ol li div::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 0;
    border-style: solid;
}

.timeline ol li:nth-child(odd) div {
    top: -16px;
    transform: translateY(-100%);
}

.timeline ol li:nth-child(odd) div::before {
    top: 100%;
    border-width: 8px 8px 0 0;
    border-color: #04adbf transparent transparent transparent;
}

.timeline ol li:nth-child(even) div {
    top: calc(100% + 16px);
}

.timeline ol li:nth-child(even) div::before {
    top: -8px;
    border-width: 8px 0 0 8px;
    border-color: transparent transparent transparent#04ADBF;
}

.timeline time {
    display: block;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 8px;
    color: white;
}

/* GENERAL MEDIA QUERIES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media screen and (max-width: 599px) {
    .timeline ol,
    .timeline ol li {
        width: auto;
    }

    .timeline ol {
        padding: 0;
        transform: none !important;
        height: fit-content;
        max-height: 30vh;
    }

    .timeline ol li {
        display: block;
        height: auto;
        background: transparent;
    }

    .timeline ol li:not(:first-child) {
        margin-left: auto;
    }

    .timeline ol li div {
        width: 94%;
        height: auto !important;
        margin: 0 auto 5px;
    }

    .timeline ol li div {
        position: static;
    }

    .timeline ol li:nth-child(odd) div {
        transform: none;
    }

    .timeline ol li:nth-child(odd) div::before,
    .timeline ol li:nth-child(even) div::before {
        left: 50%;
        top: 100%;
        transform: translateX(-50%);
        border: none;
        border-left: 1px solid white;
        height: 25px;
    }

    .timeline ol li:last-child,
    .timeline ol li:nth-last-child(2) div::before,
    .timeline ol li:not(:last-child)::after {
        display: none;
    }
}
