<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
        integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
        crossorigin="anonymous" />

    <link href="/css/index.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="/js/index.js" defer></script>
    <title>Home Page</title>
</head>

<body>
    <div class="container" id="vue" v-cloak>
        <div class="row align-items-start">
            <div class="header-container">
                <div class="logo">
                    <img src="/img/tripgodlogo.png" class="img-fluid" width="60px" />
                </div>
                <div id="login" v-bind:class="{ 'display-flex': loggedOut }">
                    <button @click="toggleLogin" id="loginbutton">Login</button>
                </div>
                <div id="logout" v-bind:class="{ 'display-flex': loggedIn }">
                    <a href="/admin.html" v-if="admin"><button id="admin">Admin</button></a>
                    <button @click="logout" id="logoutbutton">Logout</button>
                </div>
            </div>
            <div class="col-12 col-sm-4 col-md-3 mb-1">
                <nav>
                    <!-- sorting options -->
                    <div>
                        <div class="title">Sort by</div>
                        <button @click="callLoadItinerary('latest')" id="latest">
                            <i class="fas fa-sort-amount-up-alt"></i> Latest
                        </button>
                        <button @click="callLoadItinerary('bookmark')" id="bookmark">
                            <i class="far fa-bookmark"></i> Bookmark
                        </button>
                    </div>
                    <!-- destination list (appear on window innerwidth > 576px)-->
                    <div class="category mt-5" v-if="windowWidth">
                        <div class="title">Travellers already planned for</div>
                        <ul>
                            <li v-for="destination of destinationList">{{ destination.city }}, {{ destination.country
                                }}</li>
                        </ul>
                    </div>
                </nav>
            </div>
            <div class="col-12 col-sm-8 col-md-9">
                <main>
                    <!-- profile  -->
                    <div id="headtest"></div>
                    <div class="header" v-bind:class="{ 'display-flex': loggedIn }">
                        <div class="profile">
                            <a href="/profile.html"><img id="profile-pic" v-bind:src="myPhoto" /></a>
                            <div id="profile-name">
                                <a href="/profile.html">{{ profileName }}</a>
                            </div>
                        </div>
                        <div>
                            <a href="/new.html"><button id="new-itinerary-btn">New Itinerary</button></a>
                            <button id="my-itinerary-btn">My Itinerary</button>
                        </div>
                    </div>
                    <!-- itinerary  -->
                    <div class="content-container" id="listitems">
                        <div class="itinerary" v-for="itinerary in itineraryList"  v-if="itinerary.events.length" @click="itineraryView(itinerary)">
                            <div class="profile">
                                <a v-bind:href="'profile.html?id=' + itinerary.owner_id">
                                    <img id="profile-pic" v-if="itinerary.photo"
                                        v-bind:src="'/upload/' + itinerary.photo" />
                                    <img id="profile-pic" v-else src="/img/dummy_profilepic.jpg" />
                                </a>
                                <a v-bind:href="'profile.html?id=' + itinerary.owner_id">{{ itinerary.profile_name
                                    }}</a>
                            </div>
                            <div class="itinerary-title px-5">
                                <h4>{{ itinerary.name }}</h4>
                                <h5>({{ itinerary.days }} Days)</h5>
                                <ul>
                                    <li v-for="destination in itinerary.destinations">{{ destination.city }}, {{
                                        destination.country }} </li>
                                </ul>
                            </div>
                            <section class="timeline">
                                <ol>
                                    <li v-for="event in itinerary.events">
                                        <div>
                                            <time>{{ event }}</time>
                                        </div>
                                    </li>
                                
                                <li></li>
                                </ol>
                            </section>

                            <!-- add bookmark icon -->
                            <div class="bookmark" @click.stop>
                                <div class="bookmark-icon" @click.stop.capture="addBookmark(itinerary, $event)"
                                    v-if="!itinerary.bookmark || loggedOut">
                                    <i class="far fa-bookmark"></i>
                                </div>
                                <div class="bookmark-icon" @click.stop.capture="removeBookmark(itinerary, $event)"
                                    v-else>
                                    <i class="fas fa-bookmark"></i>
                                </div>
                                <div>
                                    {{ itinerary.totalbookmark ?? 0 }}
                                </div>
                            </div>
                        </div>
                        <!-- test  -->
                        <div id="listitems-pagination" style="display: none">
                            <a id="listitems-previous" href="#" class="disabled">&laquo; Previous</a>
                            <a id="listitems-next" href="#">Next &raquo;</a>
                        </div>
                    </div>
                </main>
            </div>
        </div>
        <!-- login overlay -->
        <div class="container-fluid" id="overlay-background" v-show="loginOverlay" @click.self="toggleLogin">
            <div class="row align-items-start" id="login-overlay">
                <h2>Welcome Back!</h2>
                <div class="col-12 col-md-12">
                    <div class="card">
                        <main>
                            <div class="form">
                                <form id="user-login">
                                    <div class="title">Login</div>
                                    <div>
                                        <label for="username"><i class="far fa-user"></i> Username</label>
                                        </br><input type="text" id="username" name="username" autocomplete="off" required/>
                                    </div>
                                    <div>
                                        <label for="password"><i class="fas fa-key"></i> Password</label>
                                        </br><input type="password" id="password" name="password" required/>
                                    </div>
                                    <div>
                                        <input type="submit" value="Login"></input>
                                    </div>
                                </form>
                                <hr>
                                <div>
                                    <div>or</div>
                                    <form action="/connect/google" method="GET">
                                        <input type="submit" value="Sign in with Google" />
                                    </form>
                                </div>
                            </div>
                            <div class="register">
                                <div>Not a member yet?</div>
                                <a href="/register.html"><button>Sign Up Now</button></a>
                            </div>
                    </div>
                    </main>
                </div>
            </div>
        </div>
    </div>




    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>
</body>

</html>