<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
    integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
    crossorigin="anonymous" />  

    <!-- fullcalendar -->
    <link href="/fullcalendar/main.css" rel="stylesheet" />
    <script src="/fullcalendar/main.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"/>

    <!-- vue.js -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

    <link href="/css/itinerary.css" rel="stylesheet">
    <title>View Itinerary</title>
</head>

<body>
    <div class="container" id="vue" v-cloak>
        <div class="row align-items-start">
            <!-- <header> -->
            <div class="title-container"> 
            <div class="col-12 col-sm-3 col-md-3">
                <h2>{{owner}} Itinerary</h2>
            </div>
            <div class="col-12 col-sm-9 col-md-9">
                <a href="/index.html"><button class="m-1">Home</button></a>
                <button class="clone m-1 mb-2">Clone Itinerary</button>
            </div>
            </div>   
            <!-- </header> -->
            <div class="col-12 col-sm-4 col-md-3">
                <!-- <div class="container"> -->
                <aside>
                    <div>
                        <div class="title">Trip to:</div>
                        <div class="itinerary-title"></div>
                    </div>
                    <div>
                        <ul class="list-group">
                            <li class="list-group-item itinerary-title" id="itinerary-id"
                            v-for="itinerary in itineraries" v-bind:key="itinerary.id" @click="loadItinerary(itinerary.id)">{{
                            itinerary.name }}</li>
                        </ul>
                    </div>
                    <p>Owner: <span class="owner"></span></p>
                </aside>
            </div>
            <div class="col-12 col-sm-8 col-md-9">
                <main>
                    <div class="content-container">
                        <div class="itinerary">
                            <div id="itinerary-title"></div>
                            <div class="itinerary-content">
                                <div class="calender-container">
                                    <div id="calendar"></div>
                                    <!-- view Event -->
                                    <div id="view" class="view-hidden">
                                        <h5>View Detail</h5>
                                        <!-- button  -->
                                        <div class="mb-4">
                                            <button class="delete-event"><i class="far fa-trash-alt"></i></button>
                                            <button class="edit-event"><i class="far fa-edit"></i></button>
                                            <button class="close"><i class="fas fa-times"></i></button>
                                        </div>
                                        <form id="view-form"></form>
                                        <div>
                                            <label for="view-title">Title</label>
                                            <span id="view-title"></span>
                                        </div>
                                        <div>
                                            <label for="address">Address</label>
                                            <span id="view-address"></span>
                                        </div>
                                        <div>
                                            <label for="from">From</label>
                                            <span id="view-from"></span>
                                            <label for="to">To</label>
                                            <span id="view-to"></span>
                                        </div>
                                        <div>
                                            <label for="remarks">Remarks</label>
                                            <span id="view-remarks"></span>
                                        </div>
                                        <div>
                                            <label for="start-time">From</label>
                                            <span id="view-start-time"></span>
                                            <label for="end-time">To</label>
                                            <span id="view-end-time"></span>
                                        </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
        </div>
    </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>
    <script src="/js/itinerary_view.js"></script>
</body>

</html>
