<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
            crossorigin="anonymous"
        />
        <link rel="preconnect" href="https://fonts.gstatic.com" />
        <link
            href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap"
            rel="stylesheet"
        />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
            integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
            crossorigin="anonymous"
        />
        <link href="/css/profile.css" rel="stylesheet" />
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <script src="/js/profile.js" defer></script>
        <title>Profile Page</title>
    </head>

    <body>
        <div class="container" id="vue" v-cloak v-show="ready">
            <div class="row align-items-start">
                <!-- <header> -->
                <div class="title-container">
                    <div>
                        <h2>Profile</h2>
                    </div>
                    <div class="title-container-right">
                        <div>
                            <a href="/new.html"
                                ><button v-if="isSelf">
                                    Create Itinerary
                                </button></a
                            >
                        </div>
                        <div>
                            <a href="/index.html"><button>Home</button></a>
                        </div>
                    </div>
                </div>
                <!-- </header> -->
                <div class="col-12 col-sm-4 col-md-3 mb-1">
                    <aside>
                        <div class="profile">
                            <div>
                                <img
                                    id="profile-pic"
                                    v-bind:src="myPhoto"
                                /><br />
                                <a href="#">{{ profileName }}</a> (id: {{ userId
                                }})
                            </div>
                            <div v-if="info">
                                <p>{{ info }}</p>
                            </div>
                            <div v-if="interests.length">
                                <h6>Interest</h6>
                                <ul>
                                    <li v-for="interest of interests">
                                        {{ interest }}
                                    </li>
                                </ul>
                            </div>
                            <div id="setting">
                                <a href="setting.html"
                                    ><button v-if="isSelf">Setting</button></a
                                >
                            </div>
                            <button
                                v-if="isSelf && collapse"
                                class="navbar-toggler"
                                type="button"
                                data-bs-toggle="collapse"
                                data-bs-target="#collapse-itinerary"
                                aria-controls="collapse-itinerary"
                                aria-expanded="false"
                                aria-label="Toggle navigation"
                            >
                                <span>My itineraries</span>
                            </button>
                            <div
                                v-if="isSelf"
                                v-bind:class="{collapse: collapse}"
                                id="collapse-itinerary"
                            >
                                <h6 v-if="itineraries.length && !collapse">
                                    My itineraries
                                </h6>
                                <ul class="list-group">
                                    <li
                                        class="list-group-item itinerary-title"
                                        id="itinerary-id"
                                        v-for="itinerary of itineraries"
                                        @click="editItinerary(itinerary)"
                                    >
                                        {{ itinerary.name }}
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </aside>
                </div>

                <div class="col-12 col-sm-8 col-md-9 mb-1">
                    <main>
                        <div class="header">
                            <h5 v-if="isSelf">Your bookmarks</h5>
                            <h5 v-else>{{ profileName }}'s Itineraries</h5>
                        </div>
                        <div class="content-container">
                            <!-- show bookmark if isSelf -->
                            <div v-if="isSelf">
                                <div
                                    class="itinerary"
                                    v-for="bookmark of bookmarks"
                                    @click="itineraryView(bookmark)"
                                >
                                    <div class="profile">
                                        <a
                                            v-bind:href="'profile.html?id=' + bookmark.owner_id"
                                        >
                                            <img
                                                id="profile-pic"
                                                v-if="bookmark.photo"
                                                v-bind:src="'/upload/' + bookmark.photo"
                                            />
                                            <img
                                                id="profile-pic"
                                                v-else
                                                src="img/dummy_profilepic.jpg"
                                            />
                                        </a>
                                        <a
                                            v-bind:href="'profile.html?id=' + bookmark.owner_id"
                                            >{{ bookmark.profile_name }}</a
                                        >
                                    </div>
                                    <div class="itinerary-title px-5">
                                        <h4>{{ bookmark.name }}</h4>
                                        <h5>({{ bookmark.days }} Days)</h5>
                                        <ul>
                                            <li
                                                v-for="destination in bookmark.destinations"
                                            >
                                                {{ destination.city }}, {{
                                                destination.country }}
                                            </li>
                                        </ul>
                                    </div>
                                    <section
                                        class="timeline"
                                        v-if="bookmark.events.length"
                                    >
                                        <ol>
                                            <li
                                                v-for="event in bookmark.events"
                                            >
                                                <div>
                                                    <time>{{ event }}</time>
                                                </div>
                                            </li>

                                            <li></li>
                                        </ol>
                                    </section>
                                    <!-- add bookmark icon -->
                                    <div class="bookmark" @click.stop>
                                        <div
                                            class="bookmark-icon"
                                            @click.stop.capture="addBookmark(bookmark, $event)"
                                            v-if="!bookmark.bookmark"
                                        >
                                            <i class="far fa-bookmark"></i>
                                        </div>
                                        <div
                                            class="bookmark-icon"
                                            @click.stop.capture="removeBookmark(bookmark, $event)"
                                            v-else
                                        >
                                            <i class="fas fa-bookmark"></i>
                                        </div>
                                        <div>{{ bookmark.bookmarkCount }}</div>
                                    </div>
                                </div>
                                <!-- message if no bookmark -->
                                <div v-if="!bookmarks.length">
                                    <p>
                                        Start bookmarking your favorite
                                        itineraries now!
                                    </p>
                                </div>
                            </div>
                            <!-- show user itineraries if not isSelf -->
                            <div v-else>
                                <div
                                    class="itinerary"
                                    v-for="itinerary of itineraries"
                                    @click="itineraryView(itinerary)"
                                >
                                    <div class="itinerary-title px-5">
                                        <h4>{{ itinerary.name }}</h4>
                                        <h5>({{ itinerary.days }} Days)</h5>
                                        <ul>
                                            <li
                                                v-for="destination in itinerary.destinations"
                                            >
                                                {{ destination.city }}, {{
                                                destination.country }}
                                            </li>
                                        </ul>
                                    </div>
                                    <section
                                        class="timeline"
                                        v-if="itinerary.events.length"
                                    >
                                        <ol>
                                            <li
                                                v-for="event in itinerary.events"
                                            >
                                                <div>
                                                    <time>{{ event }}</time>
                                                </div>
                                            </li>

                                            <li></li>
                                        </ol>
                                    </section>

                                    <!-- add bookmark icon -->
                                    <div class="bookmark" @click.stop>
                                        <div
                                            class="bookmark-icon"
                                            @click.stop.capture="addBookmark(itinerary, $event)"
                                            v-if="!itinerary.bookmark"
                                        >
                                            <i class="far fa-bookmark"></i>
                                        </div>
                                        <div
                                            class="bookmark-icon"
                                            @click.stop.capture="removeBookmark(itinerary, $event)"
                                            v-else
                                        >
                                            <i class="fas fa-bookmark"></i>
                                        </div>
                                        <div>{{ itinerary.bookmarkCount }}</div>
                                    </div>
                                </div>
                                <!-- message if no itinerary -->
                                <div v-if="!itineraries.length">
                                    <p>
                                        {{ profileName }} is planning next trip!
                                    </p>
                                </div>
                            </div>
                        </div>
                    </main>
                </div>
            </div>
        </div>
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
            crossorigin="anonymous"
        ></script>
    </body>
</html>
