body {
    text-align: center;
    margin: 20px;
    color: #444444;
    text-align: center;
    font-size: 14px;
    font-family: 'Lato', sans-serif;
}

.card {
    text-align: center;
    padding: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

form div {
    padding: 5px;
}
