body {
    background: linear-gradient(#9ceae5, #00828e);
    text-align: center;
    margin: 30px;
    color: #888888;
    text-align: center;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    background-size: 100vw 200vh;
    overflow-x: hidden;
}

.dark {
    background: linear-gradient(#3d3d3d, #292929);
    background-size: 100vw 200vh;
    overflow-x: hidden;
}

.logo {
    margin-bottom: 10px;
}

h2 {
    color: white;
    font-weight: 900;
}

.card {
    background: rgba(255, 255, 255, 0.95);
    text-align: center;
    padding: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    max-width: 100%;
}

@media (min-height: 850px) {
    .card {
        padding-top: 90px;
        padding-bottom: 90px;
    }
}

form div {
    padding: 8px;
}

.button {
    background: #00a1ae !important;
    padding: 5px;
    width: 200px;
    max-width: 100%;
    border-radius: 15px;
    outline: none !important;
    color: white !important;
    font-weight: bold;
    border: solid 1px white !important;
    font-size: 14px !important;
    margin-left: 0 !important;
}

.button:hover {
    background: white !important;
    color: #00a1ae !important;
    border: solid 1px white !important;
    box-shadow: 1px 1px 1px #00828e !important;
    transition: all 0.3s;
}

input {
    margin-left: 20px;
    border: 0;
    outline: none !important;
    width: 300px;
    max-width: 100%;
    margin-left: 0 !important;
    border-bottom: 2px solid #bbbbbb;
}

.form-select {
    width: 300px;
    max-width: 100%;
    display: inline;
}

#map {
    width: 100%;
    height: 100%;
    background-color: transparent;
    display: hidden;
}

#search-box {
    height: 100px;
}
#result {
    width: 100%;
    height: 40px;
}
.leaflet-locationiq-results {
    padding-top: 45px;
}

i {
    color: #00becc;
}

i:hover {
    color: #00a1ae;
}

.leaflet-bar {
    padding: 0;
}

.leaflet-locationiq-results {
    padding: 45px 0 0 0;
}

.address {
    white-space: pre-wrap;
}
