body {
    background: linear-gradient(#9ceae5, #00828e);
    text-align: center;
    margin: 30px;
    color: #888888;
    text-align: center;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    background-size: 100vw 200vh;
    overflow-x: hidden;
}

.dark {
    background: linear-gradient(#3d3d3d, #292929);
    background-size: 100vw 200vh;
    overflow-x: hidden;
}

h2 {
    color: white;
    font-weight: 900;
}

.card {
    padding: 10px;
    border-radius: 5px;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.95);
    text-align: center;
    padding: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.card div {
    padding: 5px;
}

form div {
    padding: 5px;
}

input[type='submit' i],
button {
    background: #00a1ae !important;
    padding: 5px;
    width: 200px;
    border-radius: 15px;
    outline: none !important;
    color: white !important;
    font-weight: bold;
    border: solid 1px white !important;
    font-size: 14px !important;
    margin-left: 0 !important;
}

input[type='submit' i]:hover,
button:hover {
    background: white !important;
    color: #00a1ae !important;
    border: solid 1px white !important;
    box-shadow: 1px 1px 1px #00828e !important;
    transition: all 0.3s;
}

input[type='text' i],
textarea {
    margin-left: 20px;
    border: 0;
    outline: none !important;
    width: 200px;
    margin-left: 0 !important;
    border-bottom: 2px solid #bbbbbb;
}

input[type='checkbox' i] {
    margin-left: 10px;
    outline: none !important;
}
