<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
        integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
        crossorigin="anonymous" />

    <!-- fullcalendar -->
    <link href="/fullcalendar/main.css" rel="stylesheet" />
    <script src="/fullcalendar/main.js"></script>

    <!-- vue.js -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

    <link href="/css/itinerary.css" rel="stylesheet">
    <title>Itinerary Page</title>
</head>

<body>
    <div class="container" id="vue">
        <div class="row align-items-center">
            <!-- <header> -->
            <div class="title-container">
                <div class="col-12 col-sm-3 col-md-3">
                    <h2> {{ owner }}'s  Itinerary</h2>
                </div>
                <div class="col-12 col-sm-9 col-md-9">
                        <a href="/index.html"><button class="m-1">Home</button></a>
                        <a href="/profile.html"><button class="m-1">My Profile</button></a>
                        <a href="/new.html"><button class="m-1">New itinerary</button></a>
                        <button class="edit m-1">Itinerary Setting</button>
                        <button class="clone m-1 mb-3">Clone Itinerary</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-4 col-md-12 col-lg-3">
                <aside>
                    <div>
                        <div class="title">Trip to:</div>
                        <div class="itinerary-title"></div>
                    </div>

                    <div>
                        <p>Owner: <span class="owner"></span></p>
                        <p>Editor: </p>
                        <div class="editor"></div>
                        <div>
                            <button class="invite hidden"><span>Invite your friend</span> <i class="fas fa-user-plus"></i></button>
                            <div class="invite-form hidden">
                                <form id='invite-friend' class="mb-2">
                                    <label for="invite">Invite your friend: </label>
                                </br><input id="invite" type="text" placeholder="Enter User ID" class="mb-2">
                                </br><button type="submit" class="send mb-2">Send</button>
                                </form>
                            </div>
                            
                        </div>
                        <div>
                            <button class="remove hidden"> <span>Remove editor</span>  <i class="fas fa-user-minus"></i></button>
                            <div class="editor-form hidden">
                                <form id='remove-editor'>
                                    <label for="remove">Remove editor: </label>
                                </br><input id="remove" type="text" placeholder="Enter User ID" class="mb-2">
                                </br><button type="submit" class="send">Send</button>
                                </form>
                            </div>
                            
                        </div>
                    </div>

                    <div>
                        <ul class="list-group">
                            <li class="list-group-item itinerary-title" id="itinerary-id"
                                v-for="itinerary in itineraries" v-bind:key="itinerary.id" @click="loadItinerary(itinerary.id)">{{
                                itinerary.name }}</li>
                        </ul>
                    </div>
                   
                </aside>
            </div>
            <div class="col-12 col-sm-8 col-md-12 col-lg-9">
                <main>
                    <div class="content-container">
                        <div class="itinerary">
                            <div id="itinerary-title"></div>
                            <div class="itinerary-content">
                                <div class="calender-container">
                                    <!-- this is Calendar -->
                                    <div id="calendar"></div>
                                    <!-- pop up Create -->
                                    <div id="popup" class="popup-hidden">
                                        <button class="close-popup"><i class="fas fa-times"></i></button>
                                        <div class="row align-items-start popup-inner">
                                            <h5>Itinerary Detail</h5>
                                            <div class="col-12 col-md-12">
                                                <div class="card">
                                                    <nav>
                                                        <div
                                                            class="nav nav-tabs"
                                                            id="nav-tab"
                                                            role="tablist"
                                                        >
                                                            <a
                                                                class="nav-link active"
                                                                id="nav-event-tab"
                                                                data-bs-toggle="tab"
                                                                href="#nav-event"
                                                                role="tab"
                                                                aria-controls="nav-home"
                                                                aria-selected="true"
                                                                >Event</a
                                                            >
                                                            <a
                                                                class="nav-link"
                                                                id="nav-transport-tab"
                                                                data-bs-toggle="tab"
                                                                href="#nav-transport"
                                                                role="tab"
                                                                aria-controls="nav-profile"
                                                                aria-selected="false"
                                                                >Transportation</a
                                                            >
                                                        </div>
                                                    </nav>
                            
                                                    <div class="tab-content" id="nav-tabContent">
                                                        <div
                                                            class="tab-pane fade show active"
                                                            id="nav-event"
                                                            role="tabpanel"
                                                            aria-labelledby="nav-home-tab"
                                                        >
                                                            <form id="event-form">
                                                                <div>
                                                                    <label for="title">Title</label>
                                                                    <input type="text" id="title" />
                                                                </div>
                                                                <div>
                                                                    <label for="start-time">From</label>
                                                                    <input type="time" id="start-time" value="13:30" />
                                                                    <label for="end-time">To</label>
                                                                    <input type="time" id="end-time" value="13:30" />
                                                                </div>
                                                                <div>
                                                                    <label for="address">Address</label>
                                                                    <input type="text" id="address" />
                                                                </div>
                                                                <div>
                                                                    <label for="name">Remarks</label>
                                                                    <textarea id="remarks"></textarea>
                                                                </div>
                                                                <div>
                                                                    <button type="submit">Save</button>
                                                                </div>
                                                            </form>
                                                        </div>
                                                        <div
                                                            class="tab-pane fade"
                                                            id="nav-transport"
                                                            role="tabpanel"
                                                            aria-labelledby="nav-profile-tab"
                                                        >
                                                            <form id="transport-form">
                                                                <div>
                                                                    <label for="title">Title</label>
                                                                    <input type="text" id="title" />
                                                                </div>
                                                                <div>
                                                                    <label for="start-time">From</label>
                                                                    <input type="time" id="start-time" value="13:30" />
                                                                    <label for="end-time">To</label>
                                                                    <input type="time" id="end-time" value="13:30" />
                                                                </div>
                                                                <div>
                                                                    <label for="address">From</label>
                                                                    <input type="text" id="address" />
                                                                    <label for="address">To</label>
                                                                    <input type="text" id="address" />
                                                                </div>
                                                                <div>
                                                                    <label for="name">Remarks</label>
                                                                    <textarea id="remarks"></textarea>
                                                                </div>
                            
                                                                <div>
                                                                    <button type="submit">Save</button>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- view Event -->
                                    <div id="view" class="view-hidden">
                                        <h5>View Detail</h5>
                                        <!-- button  -->
                                        <div class="mb-4">
                                            <button class="delete-event"><i class="far fa-trash-alt"></i></button>
                                            <button class="edit-event"><i class="far fa-edit"></i></button>
                                            <button class="close"><i class="fas fa-times"></i></button>
                                        </div>
                                        <form id="view-form"></form>
                                        <div>
                                            <label for="view-title">Title</label>
                                            <span id="view-title"></span>
                                        </div>
                                        <div>
                                            <label for="address">Address</label>
                                            <span id="view-address"></span>
                                        </div>
                                        <div>
                                            <label for="from">From</label>
                                            <span id="view-from"></span>
                                            <label for="to">To</label>
                                            <span id="view-to"></span>
                                        </div>
                                        <div>
                                            <label for="remarks">Remarks</label>
                                            <span id="view-remarks"></span>
                                        </div>
                                        <div>
                                            <label for="start-time">From</label>
                                            <span id="view-start-time"></span>
                                            <label for="end-time">To</label>
                                            <span id="view-end-time"></span>
                                        </div>
                                        </form>
                                    </div>

                                    <div id="edit-event" class="edit-hidden">

                                        <button class="close"><i class="fas fa-times"></i></button>
                                        <div class="row align-items-start">
                                            <h5>Itinerary Detail</h5>
                                            <div class="col-12 col-md-12">
                                                <div class="card">
                                                    <nav>
                                                        <div
                                                            class="nav nav-tabs"
                                                            id="nav-tab"
                                                            role="tablist"
                                                        >
                                                            <a
                                                                class="nav-link active"
                                                                id="nav-event-tab"
                                                                data-bs-toggle="tab"
                                                                href="#nav-edit-event"
                                                                role="tab"
                                                                aria-controls="nav-home"
                                                                aria-selected="true"
                                                                >Event</a
                                                            >
                                                            <a
                                                                class="nav-link"
                                                                id="nav-transport-tab"
                                                                data-bs-toggle="tab"
                                                                href="#nav-edit-transport"
                                                                role="tab"
                                                                aria-controls="nav-profile"
                                                                aria-selected="false"
                                                                >Transportation</a
                                                            >
                                                        </div>
                                                    </nav>
                            
                                                    <div class="tab-content" id="nav-tabContent">
                                                        <div
                                                            class="tab-pane fade show active"
                                                            id="nav-edit-event"
                                                            role="tabpanel"
                                                            aria-labelledby="nav-home-tab"
                                                        >
                                                            <form id="edit-event-form">
                                                                <div>
                                                                    <label for="title">Title</label>
                                                                    <input type="text" id="title" />
                                                                </div>
                                                                <div>
                                                                    <label for="start-time">From</label>
                                                                    <input type="time" id="start-time" value="13:30" />
                                                                    <label for="end-time">To</label>
                                                                    <input type="time" id="end-time" value="13:30" />
                                                                </div>
                                                                <div>
                                                                    <label for="address">Address</label>
                                                                    <input type="text" id="address" />
                                                                </div>
                                                                <div>
                                                                    <label for="name">Remarks</label>
                                                                    <textarea id="remarks"></textarea>
                                                                </div>
                                                                <div>
                                                                    <button type="submit">Save</button>
                                                                </div>
                                                            </form>
                                                        </div>
                                                        <div
                                                            class="tab-pane fade"
                                                            id="nav-edit-transport"
                                                            role="tabpanel"
                                                            aria-labelledby="nav-profile-tab"
                                                        >
                                                            <form id="edit-transport-form">
                                                                <div>
                                                                    <label for="title">Title</label>
                                                                    <input type="text" id="title" />
                                                                </div>
                                                                <div>
                                                                    <label for="start-time">From</label>
                                                                    <input type="time" id="start-time" value="13:30" />
                                                                    <label for="end-time">To</label>
                                                                    <input type="time" id="end-time" value="13:30" />
                                                                </div>
                                                                <div>
                                                                    <label for="address">From</label>
                                                                    <input type="text" id="address" />
                                                                    <label for="address">To</label>
                                                                    <input type="text" id="address" />
                                                                </div>
                                                                <div>
                                                                    <label for="name">Remarks</label>
                                                                    <textarea id="remarks"></textarea>
                                                                </div>
                            
                                                                <div>
                                                                    <button type="submit">Save</button>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>

        </div>
    </div>
    </div>
    <!-- Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>

    <!-- Socket IO -->
    <script src="/dist/socket.io/socket.io.js"></script>

    <script src="/js/itinerary.js"></script>
</body>

</html>